@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Sen", sans-serif;
}
html {
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}

#mask5 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  //background: linear-gradient(85.66deg, #3847b5 41.37%, #253194 97.44%);
  z-index: -5;
  height: 100vh;
  //clip-path: polygon(100% 0, 100% 70%, 72% 100%, 0 70%, 0 0);
}

#shape2 {
  position: absolute;
  width: 52%;
  height: 85vh;
  left: -16vw;
  top: -5vh;
  border-bottom-left-radius: 50px;

  background: #4250bf;
  box-shadow: 0px 4px 130px #263396;
  transform: matrix(-0.96, -0.28, -0.28, 0.96, 0, 0);
  z-index: -4;
}

#shape1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 90%;
  height: 65vh;
  top: -15vh;
  left: -10vw;
  border-bottom-right-radius: 50px;
  background: #3947b6;
  box-shadow: 0px 11px 106px #2a389d;
  transform: rotate(14deg);
}

#top-menu {
  width: 100%;
  height: 70px;
  background: white;
  z-index: 200;
  position: sticky;
  top: 0;
  //border-bottom: 1px green solid;
  display: flex;
  align-items: center;
  #top-menu-content {
    padding: 0 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    #options ul {
      list-style: none;
      li {
        display: inline-block;
        margin: 0 20px;
        a {
          font-size: 16px;
          text-decoration: none;
          color: #263396;
          position: relative;
        }
        a:hover {
          font-weight: bold;
        }
        a:after {
          content: "";
          position: absolute;
          z-index: 100;
          left: 0;
          width: 0;
          bottom: -5px;
          background: #263396;
          height: 2px;
          transition-property: left right;
          transition-duration: 0.1s;
          transition-timing-function: ease-out;
        }
        a:hover:after,
        a:active:after {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}

#top-container {
  height: 100vh;
  position: relative;
  #arrow {
    position: absolute;
    bottom: 21vh;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    // animation-duration: 1s;
    // animation-name: moveArrow;
    // animation-iteration-count: infinite;
    i {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px #e7e7e7 solid;
      text-align: center;
      font-size: 24px;
      color: white;
      line-height: 50px;
      z-index: 10;
    }
  }
  #left,
  #right {
    float: left;
    width: 50%;
    //height: 100%;
  }
  #left {
    margin: 20vh 0 0 0;
    padding-left: 7vw;
    #hello-message {
      color: white;
      letter-spacing: 0.2px;
      font-size: 40px;
      font-weight: 700;
      width: 82%;
    }
    #subscribe-message {
      color: white;
      margin-top: 7vh; //tutaj zamienić na ok 15vh przy większej rozdzielczości i width trochę mniejszy
    }
    #subscribe-div {
      display: inline-block;
      position: relative;
    }
    #enter-email-input {
      margin-top: 3vh;
      padding: 11px 1em;
      border-radius: 25px;
      border: none;
      outline: none;
      width: 30vw;
      font-size: 17px;
    }
    #subscribe-button {
      cursor: pointer;
      background: #38a5db;
      color: white;
      position: absolute;
      margin-top: 3vh;
      right: -20px;
      border: none;
      border-radius: 25px;
      padding: 11px 37px;
      font-weight: 600;
      font-size: 17px;
      outline: none;
      background: linear-gradient(to left, #38a5db 50%, #e4d00a 50%) right;
      background-size: 200%;
      transition: 0.3s ease-out;
      &:hover {
        background-position: left;
      }
    }
  }

  #youtube-player {
    width: 66%;
    height: auto;
    float: right;
    margin-right: 10vw;
    position: relative;
    margin-top: 16vh;

    a:hover #play {
      background: #e4d00a;
      transition: background 0.3s;
    }
    #video-image-link {
      width: 100%;
      height: 100%;
      //margin-right: 6vw;
    }
    #play {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #38a5db;
      //z-index: 100;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    #play:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0px 15px 30px;
      border-color: transparent transparent transparent white;
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
    }
  }
}

#team-section {
  margin-top: 3vh;
  // border: 1px lightgreen solid;
  text-align: center;
  position: relative;
  height: 600px;
  width: 100%;
  h2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 12px;
    color: #1c1f83;
    font-size: 16px;
    line-height: 34px;
  }
  #team-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;

    button {
      cursor: pointer;
      background: #c4c4c4;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: none;
      outline: none;
    }
    button:focus {
      background: #4250bf;
    }
  }

  #team {
    //border: 1px solid green;
    //padding: 1em;
    white-space: nowrap;
    display: inline-block;
    width: 75%;
    margin: 5vh auto;
    position: absolute;
    left: 12.5%;
    transition: all 0.5s ease-out;

    .single-teammate {
      width: 25%;
      min-width: 170px;
      //border: red 1px solid;
      display: inline-block;
      padding: 30px;
      margin: 0;
      //float: left;
      text-align: center;
      img {
        width: 70%;
        height: auto;
        clip-path: circle(50%);
      }

      h6 a {
        font-size: 24px;
        font-weight: 400;
        color: #38a5db;
        padding: 18px 0;
        text-decoration: none;
      }
      h6 a:visited {
        color: #38a5db;
      }
      .position {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        font-size: 13px;
        color: #011226;
        opacity: 0.5;
        letter-spacing: 0.26px;
      }
      .description {
        margin-top: 10px;
        font-size: 18px;
        color: #45515f;
        line-height: 24px;
        white-space: normal;
      }
      .social-media-link {
        display: inline-block;
        border: 1px rgba(128, 140, 153, 0.3) solid;
        border-radius: 3px;
        color: #001832;
        width: 43px;
        height: 23px;
        margin: 5% 0;
        padding: 2px 0;
      }
      .social-media-link:hover {
        background: #001832;
        color: white;
        border-color: #001832;
      }
    }
  }
}
#contact-section {
  height: 600px; //70vh;
  width: 100%;
  background: #252b42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    text-transform: uppercase;
    letter-spacing: 12px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 26px;
  }
  p {
    width: 340px;
    text-align: center;
    color: white;
  }
  #contact-form {
    margin-top: 50px;
    height: 60%;
    width: 25%;
    background: #4250bf;
    padding-top: 2%;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contact-input {
      font-size: 17px;
      color: #576677;
      margin: 5% 10%;
      border-radius: 25px;
      border: none;
      outline: none;
      padding: 11px 1em;
      width: 80%;
    }
    #checkbox-div {
      width: 80%;
      margin: 4% 10%;
      display: flex;
      align-items: center;
      #contact-checkbox {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        display: inline-block;
      }
      label {
        display: inline-block;
        color: white;
        font-size: 17px;
        margin-left: 8px;
      }
    }
    #contact-button {
      cursor: pointer;
      background: #38d5db;
      box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
      color: white;
      padding: 12px 38px;
      border-radius: 23px;
      border: none;
      outline: none;
      margin: 5% 10%;
      align-self: flex-start;
      &:hover {
        background: #e4d00a;
        transition: all 0.3s ease-in;
      }
    }
  }
}

footer {
  background: linear-gradient(
    180deg,
    #fafbff 0%,
    #eff1f9 41.68%,
    #e9ecf6 49.59%,
    #ced3e8 93.91%
  );
  #footer-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    // grid-template-columns: repeat(3, 1fr);
    div {
      text-align: center;
      padding: 5vh;
      line-height: 40px;
      button {
        cursor: pointer;
        background: #38a5db;
        color: white;
        border: none;
        outline: none;
        border-radius: 23px;
        padding: 12px 30px;
        box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
        font-size: 16px;
        font-weight: 600;
        &:hover {
          background: darken(#38a5db, 10%);
          transform: scale(0.95);
        }
      }
      a {
        color: #0f81ff;
        &:hover,
        &:visited {
          color: #0f81ff;
        }
      }
    }
  }
  #footer-bottom {
    width: 60%;
    //border: 1px green solid;
    margin: auto;
    padding: 10px;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      flex-wrap: wrap;
      li {
        width: 25%;
        text-align: center;
        display: inline-block;
        color: #45515f;
        border-left: 2px #9ca4c7 solid;
        a {
          color: #45515f;
          text-decoration: none;
          position: relative;
          &:hover {
            color: darken(#45515f, 15%);
          }
        }
        a:after {
          content: "";
          position: absolute;
          z-index: 100;
          left: 0;
          width: 0;
          bottom: -5px;
          background: darken(#45515f, 15%);
          height: 1px;
          transition-property: left right;
          transition-duration: 0.1s;
          transition-timing-function: ease-out;
        }
        a:hover:after,
        a:active:after {
          left: 0;
          width: 100%;
        }
      }
      li:first-child {
        border: none;
      }
    }
  }
}
.modal-background {
  position: fixed;
  background: rgba(37, 42, 65, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    // visibility: hidden;
    opacity: 1 !important;
    // z-index: 9999;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 80%;
    background: white;
    border-radius: 20px;
    #video-div {
      display: flex;
      align-items: center;
      height: 60vh;
      width: 60vh;
      max-width: 90% !important;
      margin: auto;
      #ytplayer {
        width: 100%;
        height: 56.25%;
      }
    }
    .close {
      cursor: pointer;
      color: #828282;
      width: 40px;
      height: 40px;
      background: transparent;
      border: 1px #828282 solid;
      border-radius: 50%;
      outline: none;
      position: absolute;
      top: 2vh;
      right: 2vh;
      line-height: 40px;
    }
    .close:hover {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
    }
    .close:before,
    .close:after {
      content: "";
      position: absolute;
      left: 48%;
      top: 5%;
      transform: translate(-50%, -50%);
      width: 2px;
      height: 33px;
      background: #333;
      border-radius: 25px;
    }

    .close:before {
      transform: rotate(45deg);
      transform-origin: center center;
    }
    .close:after {
      transform: rotate(-45deg);
    }
    h3 {
      font-weight: 400;
      color: #38a5db;
      font-size: 2em;
      margin: 40px 0 15px;
    }
    .modal-position {
      color: #011226;
      opacity: 0.5;
    }
    p {
      margin: 1em;
      display: inline-block;
      height: 70%;
      text-align: left;
      overflow-y: auto;
      font-size: 18px;
      padding: 0.2em;
      // max-height: 350px
    }
    p::-webkit-scrollbar {
      width: 10px;
    }

    p::-webkit-scrollbar-track {
      visibility: hidden;
    }

    p::-webkit-scrollbar-thumb:vertical {
      background-color: rgba(44, 54, 119, 0.4);
      border-radius: 20px;
      cursor: pointer !important;
    }
    p::-webkit-scrollbar-thumb:vertical:hover {
      background-color: rgba(44, 54, 119, 0.8);
    }
  }
} //modal background
//global
.logo-div {
  font-size: 39px;
  letter-spacing: 0.1em;
  color: #263396;
}
a {
  text-decoration: none;
}

.social-media {
  border-radius: 50%;
  position: fixed;
  right: 70px;
  padding: 0.7em;
  background: #63c7ff;
  color: white;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  transition: background 0.3s ease-out;
  z-index: 100;
  &:hover {
    background: darken(#63c7ff, 20%);
  }
}
#twitter-link {
  bottom: 100px;
}
#facebook-link {
  bottom: 30px;
  i {
    width: 18px;
  }
}

#team-section .moveRight {
  left: -340px !important;
}

@media (max-width: 800px) {
  .modal-background .modal p {
    overflow-y: unset !important;
  }
  #team-section #team .single-teammate img {
    width: 100%;
  }
  #team-section #team {
    left: 2%;
    //right: 2%;
  }
  #team-section #team .single-teammate {
    padding-left: 4%;
    padding-right: 4%;
  }

  #top-menu #top-menu-content {
    padding: 0 5vw;
    #options ul li {
      margin: 0 10px;
    }
  }
  #top-container {
    height: 150vh;
  }
  #top-container #left,
  #top-container #right {
    position: absolute;
    width: 100%;
    z-index: 100 !important;
  }
  #top-container #left {
    margin: 7vh 0;
    #hello-message {
      font-size: 30px;
    }
    #subscribe-div {
      position: static;
      #enter-email-input {
        width: 80vw;
      }
      #subscribe-button {
        position: static;
        width: 80vw;
      }
    }
  }
  #top-container #right {
    margin-top: 70vh;
    text-align: center;
    #youtube-player {
      display: inline-block;
      // width: 52vw;
      // height: 29.25vw;
      z-index: 5;
      float: unset;
    }
  }
  #top-container #arrow {
    bottom: 35vh;
  }
  .social-media {
    right: 5vw;
  }
  #contact-section {
    height: 100vh;
    justify-content: center;
  }
  #contact-section #contact-form {
    width: 90%;
  }
  .modal-background .modal {
    width: 90%;
  }
  footer {
    height: 40vh;
    #footer-top {
      .logo-footer {
        position: absolute;
        top: 0;
        left: 0;
      }
      #footer-contact {
        margin-top: 70px;
        padding-bottom: 10px;
      }
      #footer-button {
        padding-bottom: 30px;
      }
    }
    #footer-bottom {
      width: 100%;
      ul {
        //display: inline-block;
        width: 100vw;
        height: 100%;
        li {
          border: none;
          width: 50%;
          padding: 10px 0;
        }
      }
    }
  }
} //max-width 800px
@media (min-width: 801px) and (max-width: 1050px) {
  #team-section #team .single-teammate img {
    width: 85%;
  }
  #top-container {
    height: 150vh;
  }
  #top-container #arrow {
    bottom: 45vh;
  }
  #top-container #left,
  #top-container #right {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 50%;
  }
  #top-container #left #subscribe-div {
    width: 80%;
    #enter-email-input {
      width: 85%;
    }
    #subscribe-button {
      right: 20px;
    }
  }
  #top-container #right {
    top: 75vh;
    width: 100%;
    text-align: center;

    #youtube-player {
      float: unset;
      display: inline-block;
      margin: 10vh 0;
      #video-image-link {
        transform: scale(0.7);
      }
    }
  }
}
@media (max-width: 600px) {
  footer {
    background: white;
    #footer-top {
      background: linear-gradient(
        180deg,
        #fafbff 0%,
        #eff1f9 41.68%,
        #e9ecf6 49.59%,
        #ced3e8 93.91%
      );
    }
  }
}
@media (max-height: 600px) {
  #top-container #arrow {
    display: none;
  }
}
@media (max-width: 600px) {
  #top-container {
    height: 150vh;
  }
  #top-container #right {
    margin-top: 65vh;
    text-align: center;
    #youtube-player {
      display: inline-block;
      // width: 80vw;
      // height: 45vw;
      z-index: 5;
      float: unset;
    }
  }
}

@media (max-width: 400px) {
  #top-menu #top-menu-content {
    padding: 0 3vw;
    #options ul li {
      margin: 0 1vw;
    }
  }
}
@media (min-width: 450px) {
  #team-buttons {
    display: none;
  }
}
@media (max-width: 500px) {
  #top-container {
    height: 125vh;
  }
  .modal {
    height: 100vh !important;
    overflow: hidden;
  }
}
@media (min-width: 600px) and (max-width: 1050px) {
  #contact-section #contact-form {
    width: 50%;
  }
}
@media (max-width: 1050px) {
  #mask5 {
    width: 1366px;
    z-index: -5;
  }
  #shape2 {
    position: absolute;
    width: 52%;
    left: 0;
    top: 2vh;
    z-index: 1;
  }
  #shape1 {
    top: 0;
    left: -20%;
    width: 150%;
    z-index: 3;
  }
}
@media (min-width: 1500px) {
  #contact-section {
    height: 70vh;
  }
  #team-section #team .single-teammate img {
    width: 50%;
    margin: 2vh 0;
  }
}

//animations
@keyframes moveArrow {
  0% {
    bottom: 21vh;
  }
  50% {
    bottom: 23vh;
  }
  100% {
    bottom: 21vh;
  }
}
